.container {

  max-width: 600px;
 margin-top: 10px;
}


.name {
  margin: 16px 0 16px 20px;
  font-size: 20px;
  border-color: #585959;
}
.input {
  max-width: 600px;
  border: 2px dashed gray;
  outline: 0;
  font-size: 24px;
}
.name_edit {
  font-size: 24px;
  color: cadetblue;
}
.id_edit {
  font-size: 24px;
  color: cadetblue;
}
.selected {
  background: darkgrey;
}
