<div style="display: flex; flex-direction: row">
  <input placeholder="search hero" id = 'searchBox' [(ngModel)]="searchString"
         (input)="search(searchString)"
         style="font-size: 24px; margin: 6px 0 0 0; border: 2px dashed black; border-radius: 5px; max-height: 40px !important; padding: 2px"/>
  <ul style="margin-top: -10px">
    <li style="border-radius: 3px; border: 2px dashed black; margin: 5px;padding: 10px; font-size: 24px" *ngFor="let hero of heroes$ | async">
      <a routerLink="details/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>


