<div class="container">

  <mat-form-field class="example-full-width">
    <mat-label style="font-size: 16px">Search hero</mat-label>
    <input matInput [(ngModel)]="searchString" (input)="search(searchString)" class="input">
  </mat-form-field>
  <div style="display: flex; gap: 10px; flex-direction: column">
    <mat-list role="list" *ngFor="let hero of heroes$ | async">
      <mat-list-item role="listitem" routerLink="details/{{hero.id}}">
        <button mat-stroked-button color="accent" style="width: 100px; border-color: #585959" (click)="this.searchString = '';">{{hero.name}}</button>
      </mat-list-item>
    </mat-list>
  </div>
</div>


