.input {
  font-size: 24px;
  padding: 5px;
  color: aliceblue;
  margin-left: 10px;
}
.button {
  font-size: 24px;
  border-color: #585959;
}
.button1 {
  font-size: 24px;
  border-color: #585959;
  margin: 10px;
  border-radius: 5px;
  width: 70px;
}
