<div style="margin-left: 10px; margin-top: 20px; display: flex; gap: 30px; height: 50px; margin-bottom: 30px">
  <mat-form-field class="example-full-width">
    <mat-label style="font-size: 18px">Enter hero</mat-label>
    <input matInput [(ngModel)]="name" value="{{name}}" class="input"/>
  </mat-form-field>
  <button mat-stroked-button color="accent" (click)="add(name)" class="button">add hero</button>
</div>

<mat-spinner color='primary' *ngIf="!this.heroService.loaded" style="margin: 30px 15%"></mat-spinner>
<div *ngFor="let hero of heroes" style="display: flex; max-width: 600px">
  <app-hero [hero]="hero" style="flex: 100%"></app-hero>
  <button mat-stroked-button color="accent" (click)="delete(hero)" class="button1">X</button>
</div>

