.container {
  margin: 10px;
  max-width: 600px;
}
.messages {
  margin: 10px;
  font-size: 24px;
  border: 2px dashed black;
  max-width: 590px;
  border-radius: 10px;
  color: mediumaquamarine;
  padding: 5px;
}
.button {
  margin: 10px;
  outline: 0;
  border: 2px dashed lightslategray;
  font-size: 24px;
}

.msg {
  font-size: 24px;
  color: cadetblue;
  border: 3px dashed darkcyan;
  padding: 5px;
  border-radius: 5px;
}
