.top {
  margin: 10px;
}

.container {
  margin: 10px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.container_el {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 1px dashed black;
}

.hero {
  max-width: 300px;
  margin: 10px;
  font-size: 24px;
}
